[submodule "Experiencia-Criativa/Experiencia-Criativa/Atividade-ExperienciaCriativa"]
	path = Experiencia-Criativa/Experiencia-Criativa/Atividade-ExperienciaCriativa
	url = https://github.com/marcosvmaximo/Atividade-ExperienciaCriativa
